@(webJarAssets: WebJarAssets)(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <style type="text/css">
        table {
            width: 100%;
        }

        td, th {
            width: 25%;
        }

        table, th, td {
            border: 1px solid black;
        }

        div {
            padding: 5px;
        }

        input {
            width: 200px;
        }
        </style>
    </head>
    <body>
        <div class="container">
        @content
        </div>

        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("react.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("react-dom.min.js"))'></script>


        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>

    </body>
</html>